<md-card>
	<form name="contactForm">
		<md-card-content>
			<md-input-container class="md-block">
				<label>Name</label>
				<input name="name" ng-model="$ctrl.editableContact.name" required/>
				<div ng-messages="contactForm.name.$error" role="alert">
					<div ng-message="required">Everyone needs a name.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Email</label>
				<input name="email" type="email" ng-model="$ctrl.editableContact.email"/>
				<div ng-messages="contactForm.email.$error" role="alert">
					<div ng-message="email">This doesn't look like an email address.</div>
				</div>
			</md-input-container>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end">
			<md-button ng-click="$ctrl.delete()">Delete</md-button>
			<md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.save()" ng-disabled="contactForm.$invalid">Save</md-button>
		</md-card-actions>
	</form>
</md-card>
